<!DOCTYPE html>
<html lang="en">

<head>
    <title>Leave the marks</title>
    <% include partials/head.ejs %>
</head>

<body>

    <div id="wrapper">

        <% include partials/sidebarMenu.ejs %>

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">

                      <p align="center" class="headingFont">
                        Leave the comments !!!
                      </p>
                      <br/>

                   <blockquote class="mainLines strong">
                    The digital experiences you love. The organizations you trust most. The software they depend on.
                   </blockquote>
                   <blockquote class="mainLines">
                    Make something amazing, for anyone.
                  </blockquote>

                  <blockquote class="mainLines">
                    Drupal is content management software. It's used to make many of the websites and applications you use every day. Drupal has great standard features, like easy content authoring, reliable performance, and excellent security. But what sets it apart is its flexibility; modularity is one of its core principles. Its tools help you build the versatile, structured content that dynamic web experiences need.

It's also a great choice for creating integrated digital frameworks. You can extend it with any one, or many, of thousands of add-ons. Modules expand Drupal's functionality. Themes let you customize your content's presentation. Distributions are packaged Drupal bundles you can use as starter-kits. Mix and match these components to enhance Drupal's core abilities. Or, integrate Drupal with external services and other applications in your infrastructure. No other content management software is this powerful and scalable.


                    and we share the best comments with you.<br/> Read the comments <a href="/comments">here</a> or <a href="/new-comment">write your own comments</a>
                  </blockquote>

                  </div>
           </div>
         </div>
      </div>


  </div>

  <% include partials/jsIncludes.ejs %>

</body>

</html>
